 # Data Visualization and Pandas Bootcamp
 By: Adrian Garcia<br>
 UCSC: AM-170B

## Data Structures

- A container for holding several data objects. Data structures allow you to handle large amounts of data and keep everything organized.

- Some standard examples include:
    - Lists
    - Sets
    - Tuples
    - Dictionaries

- Data Frames

## What are Data Frames?
- A type of data structure that organizes data into a 2D table of rows and columns, often of varying data type.
- These rows and columns are typically named (e.g rows = samples, columns = characteristics)
- However, some other examples include:
    - rows = items, columns = properties
    - rows = observations, columns = variables
    - etc...

## Example: Creating Data

In [12]:
# Import pandas package
import pandas as pd
# Create Data
data = pd.DataFrame({'a':[1.01, 2.02, 3.03],
                     'b':[1, 2, 3],
                     'c':['test1', 'test2', 'test3']})
print(data,'\n')
data.info()

      a  b      c
0  1.01  1  test1
1  2.02  2  test2
2  3.03  3  test3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      float64
 1   b       3 non-null      int64
 2   c       3 non-null      object
dtypes: float64(1), int64(1), object(1)
memory usage: 200.0+ bytes

- A lot of information here!

## Breaking Down `.info()`
- `int64` is numeric integer values
- `object` strings (letters and numbers)
- `float64` floating-point values

In [15]:
data.dtypes

a    float64
b      int64
c     object
dtype: object

## Example: Loading Data

In [3]:
# Load Data
df = pd.read_csv('diamonds.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

## Data manipulation in Pandas
- Once a data set is loaded in, we can do quite a few things to help us navigate through the data set:
<br>
For example:

In [4]:
df.head() # prints the first 5 rows

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

- We may also show the first "X" rows:

In [5]:
df.head(10) # prints the first 10 rows

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39

- As well as show the last "X" rows

In [6]:
df.tail(10) # prints the last 10 rows

       carat        cut color clarity  depth  table  price     x     y     z
53930   0.71    Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71    Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53932   0.70  Very Good     E     VS2   60.5   59.0   2757  5.71  5.76  3.47
53933   0.70  Very Good     E     VS2   61.2   59.0   2757  5.69  5.72  3.49
53934   0.72    Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

## Indexing Data